<div class="form row">
  <div class="form-group col-xs m-auto">
    <%= form_with(model: message, local: true, validate: true) do |form| %>
      <% if message.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>
            <ul>
              <% message.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-row">
        <div class="col-xs">
          <input type="text" autofocus="true" class="form-control mb-2 required" min-length=2 id="name" name="message[name]" placeholder="Your Name">
        </div>
      </div>
      <div class="form-auto">
        <div class="col-xs">
          <input type="email" class="form-control mb-2 required" name="message[email]" id="email" placeholder="your@email.address.com">
        </div>
      </div>
      <div class="form-row">
        <div class="col-xs">
          <input type="text" class="form-control mb-2 required" name="message[subject]" id="subject" placeholder="Subject">
        </div>
      </div>
      <div class="form-row">
        <div class="col-xs">
          <div>
            <textarea class="form-control required" id="body" name="message[body]" rows="5" placeholder="How can I help? Send me the details and lets chat." style="margin: auto; height: 40%;"></textarea>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-xs m-auto">
          <br><button type="submit" class="btn btn-primary mb-2">Send</button>
        </div>
      </div>
    <% end %>
  </div>
</div>