<% render "navigation/header" %>
<div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Business Site</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$250 +<small class="text-muted">extras</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Custom Design</li>
              <li>Blogs Mailing Lists, Articles and More</li>
              <li>Cloud Storage and low-cost hosting options available</li>
              <li>Backend Management or Administration</li>
            </ul>
            <a href="/contact"><button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up today</button></a>
          </div>
        </div>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Business E-Commerce Site</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$500 +<small class="text-muted">extras</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Business Site with Launch Plan</li>
              <li>User Management and Profiles</li>
              <li>Secure Payment Processing</li>
              <li>Help Center</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
          </div>
        </div>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Enterprise Level</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$Call <small class="text-muted"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Fully Customized Site</li>
              <li>Custom Business Operations</li>
              <li>Booking, Billing, Media Processing Options</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary">Contact</button>
          </div>
        </div>
      </div>
</div>

