<%= render 'navigation/header' %>
<div>
	<% if @photo.image.attached? %>
		<div><%= image_tag(@photo.image, :width=>"100%") %></div>
	<% else %>
		<p>No Image</p>
	<% end %>
	<%= @photo.caption %>
</div>
<%= render 'navigation/footer' %>
