      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Portfolio</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="#">Home</a>
            <%= link_to "Landing Pages", Home.take,:class=>"nav-link" %>
            <a class="nav-link" href="https://www.youtube.com/channel/UCP1I-pAzQeZ0vi0KnnxlFWQ">Youtube</a>
          </nav>
        </div>
      </header>