    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">Our Pages</h4>
              <p class="text-muted">Her we find our our little pages</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Contact</h4>
              <ul class="list-unstyled">
                <li><a href="https://www.facebook.com/ForgetMeNot.Natural/" class="text-white">Facebook</a></li>
                <li><a href="https://www.etsy.com/shop/FMNNaturalApothecary" class="text-white">Etsy</a></li>
                <li><a href="mailto://jennymannhopkins@gmail.com" class="text-white">Email me</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="/" class="navbar-brand d-flex align-items-center">
            <strong></strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    <div class="navbar navbar-dark bg-dark">
      <div class="container">
        <a href="/pages" class="navbar-brand">Pages</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav">
            <% Page.find_each do |p| %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/pages/<%= p.id %>" id="Pages"><%= p.link+" - " + p.title %><span class="caret"></span></a>
                <div class="dropdown-menu" aria-labelledby="Pages">
                  <%= link_to p.link + " - " + p.title, p , :class =>"dropdown-item" %>
                  <% Subpage.where(page_id: p.id).find_each do |sp| %>
                    <%= link_to sp.link + " - " + sp.title, sp , :class =>"dropdown-item" %>
                  <% end %>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    </header>
